!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Asoh</strong> 
        <p style="font-size:18px">Kesejahteraan Anak-Anak Bersama</p>
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="authForm">
    <!-- Error Messages -->
    <div class="errormsg">
      <div *ngIf="username.errors && username.touched">
        <p>Username is required.</p>
      </div>
      <div class="error-box" *ngIf="email.errors && email.touched">
        <p>Email is required.</p>
      </div>
      <div *ngIf="password.errors && password.touched">
        <p>Password is required.</p>
      </div>
      <div *ngIf="cnfpass.errors && cnfpass.touched">
        <p>Confirm password is required.</p>
      </div>
    </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nama Pengguna
        </ion-label>
        <ion-input [(ngModel)]="regData.name" [formControl]="username" id="username" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Emel
        </ion-label>
        <ion-input [(ngModel)]="regData.mail" [formControl]="email" id="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Kata Laluan
        </ion-label>
        <ion-input [(ngModel)]="regData.pass" [formControl]="password" id="password" type="{{passwordtype}}" required></ion-input>
        <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"><ion-icon name="{{passeye}}"></ion-icon></button>
      </ion-item>
    

    <div margin-top>
<!--       <button ion-button block color="dark" tappable (click)="register()">
        SIGN UP
      </button> -->
      <button ion-button block color="dark" [disabled]="!authForm.valid" (click)="doRegister(regData)">Sign up</button>
    </div>
    </form>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="moveToLogin()">Ada Akaun? Log Masuk</span>
    </div>

  </div>
</ion-content>