<!--
  Generated template for the ClinicListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-main">
  <ion-navbar color="primary">
    <ion-title>
      <strong>Carian Klinik Berdekatan</strong> 
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div class="clinic card" *ngFor="let clinic of clinicsList; let i = index" tappable margin-bottom>
	  <!-- <div class="background border-bottom"> -->
	    <!-- <div class="background-filter rlt"> -->
	      <div padding-left padding-right padding-top>
	        <h4 class="pull-left" ion-text>{{ clinic.nama_klinik }}</h4>
	        <div class="clear"></div>
	      </div>
	    <!-- </div> -->
	  <!-- </div> -->
	  <div class="padding-sm primary-bg">
	    <ion-icon name="time" class="text-white"></ion-icon>
	    <span ion-text class="text-white">{{ clinic.jarak }} km</span>
	    <br>
	    <span ion-text color="light"><strong>No Telefon</strong> {{ clinic.NO_TELEFON}}</span>
	  </div>
	</div>


	<!-- <ion-list>
		<ion-item *ngFor="let clinic of clinicsList; let i = index">
		<h2> <strong>{{clinic.nama_klinik}} </strong> </h2>
		<p> <strong>Jarak </strong> {{ clinic.jarak }} km</p>
		<p> <strong>No Telefon</strong> {{ clinic.NO_TELEFON}}</p>
		</ion-item>
	</ion-list> -->
</ion-content>
