stock-card {
	.stockborder{
		margin: 9px 5px 0px -15px;
		min-height: 4.8rem;
		min-width: 0.6rem;
	}
	.price-button {
		width: 90px;
		display: block;
		/*margin: 0 auto;
		flex-direction: column;*/
		/*display:flex;*/
		/*min-width: 50px;*/
	}
	.change-button {
		width: 90px;
		display: block;
		/*margin: 0 auto;
		flex-direction: column;*/
		/*display:flex;*/
		/*min-width: 50px;*/
	}
}
